.course-card {
  display: flex;
  padding: 10px;
  list-style: none;
  border: 2px solid #98ee78;
  padding: 15px 20px;
  justify-content: space-between;
  gap: 20px;
}
.course-card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.course-card__container:first-child {
  flex: 60%;
}
.course-card__container:last-child {
  flex: 35%;
  max-width: 30%;
  /* gap: 15px; */
}

.course-card__title {
  margin-bottom: 15px;
}
.text__bold{
  font-weight: bold;
}
.course-card__text {
  font-weight: normal;
  line-height: 1.5;
}
.course-card__text:nth-child(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-btn {
  align-self: center;
  margin-top: 10px;
  padding: 0 20px;
}
