.styledBtn {
  min-width: 70px;
  height: 30px;
  border: 1px solid #6d82ec;
  background-color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}
.styledBtn:hover {
  background-color: #46c1d9;
  color: white;
  border: none;
}
