.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border: 2px solid salmon;
}
.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 0 15px;
}
