.courses-wrap {
  border: 2px solid rgb(43, 189, 226);
  padding: 20px;
  margin-top: 20px;
}
.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin-top: 1em;
}
