.create-course__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgb(43, 189, 226);
  padding: 20px;
  margin-top: 15px;
}

.course-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
  padding: 0;
}

.create-course__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label__minimized {
  width: 350px;
}
.course-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.create-course__input {
  width: 90%;
  height: 26px;
  border: 2px solid sandybrown;
  padding: 1px 10px;
  font-size: 14px;
  outline: none;
}
.create-course__btn {
  padding: 5px 20px;
}
.course-description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 10px 8px;
  outline: none;
  font-size: 14px;
  border: 2px solid #f4db60;
}

.course-authors {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  gap: 20px;
}
.authors-list,
.course-authors__list {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 0.5em;
}
.authors-list__item,
.course-authors__list-item {
  display: flex;
  justify-content: space-between;
}
.author-name {
  line-height: 30px;
}
.authors__wrap,
.course-details {
  display: flex;
}
.add-author__container,
.authors-list__container,
.course-duration,
.course-authors {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 0.8em;
}
.title {
  text-align: center;
}
.add-author__container .create-course__btn {
  align-self: center;
}
.create-course__text {
  text-align: center;  
}
