.search-bar {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.search-bar__label {
  flex: 1;  
}
.search-bar__input {
  width: 90%;
  height: 26px;
  border: 1px solid sandybrown;
  padding: 1px 10px;
  outline: none;
}

